body {
  width: 100%;
  background: #eeeeee;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #286090; }

#main {
  background: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa; }

#wrapper {
  width: 100%;
  margin: 0 0 0 0; }

#explanation {
  width: 95%;
  margin: 0 auto; }

#header {
  background: #464641;
  padding-left: 0;
  padding-right: 0; }

#footer {
  font-size: 10;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #dddddd;
  background: #464641;
  padding-top: 2px;
  padding-bottom: 2px; }
  #footer a {
    text-decoration: none;
    color: #ffffff; }

#userdescription {
  width: 95%;
  margin: 0 auto; }

html {
  width: 100%; }

h1 {
  margin-left: 1em;
  color: #ffffff; }

#nanginatables a {
  text-decoration: none; }
  #nanginatables a:hover {
    text-decoration: underline; }

.weekendstable {
  padding-left: 10px;
  padding-right: 10px;
  width: 95%; }
  .weekendstable .tr {
    width: 95%;
    padding: auto 0;
    display: block; }
    .weekendstable .tr:nth-child(even) {
      background: #eeeeee; }
    .weekendstable .tr:nth-child(odd) {
      background: #f5f5f5; }
    .weekendstable .tr:nth-child(1) {
      color: #ffffff;
      background: #464641;
      border-bottom-right-radius: 9px;
      border-bottom-left-radius: 9px;
      font-weight: bold; }
    .weekendstable .tr .td {
      vertical-align: top;
      display: inline-block; }

table.user td {
  vertical-align: top;
  overflow: hidden; }
table.user tr {
  border-bottom: 1px solid #aaa; }

.navbar-default {
  border-color: #337AB7; }
  .navbar-default button {
    background: #fff; }

#nav {
  border-radius: 0;
  background: #337AB7; }
  #nav ul {
    background: #337AB7; }
    #nav ul li {
      font-weight: bold;
      color: #fff; }
      #nav ul li:hover {
        background-color: #464641; }
      #nav ul li:first-child {
        margin-left: 0; }
      #nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold; }
        #nav ul li a h3 {
          display: inline; }

.table {
  font-size: 16px; }

#login {
  background: #f5f5f5; }

.button {
  padding: 4px 4px;
  background: #eee;
  border: 1px solid #aaa; }

form.x {
  margin: 0;
  padding: 0;
  display: inline; }

input[type=checkbox] {
  border: 1px solid #ddd;
  background-color: #374879; }

.signup {
  margin-left: 10px; }

.err {
  background-color: #ff739c;
  border: 1px solid #880000;
  padding: 3px;
  margin: 0 20px; }

.succ {
  background-color: #22BD3E;
  border: 1px solid #888888;
  padding: 3pxlink;
  margin: 0 20px; }

#wecreator {
  display: none; }

#descedit {
  display: none; }

.btn-primary {
  background-color: #337AB7;
  border-color: #286090; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #286090; }

.commentheader {
  background: #eee;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px; }
  .commentheader span {
    float: right;
    display: inline-block;
    padding-right: 5px; }

#currentuser {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  color: #fff;
  font-weight: bold; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #nav ul li {
    display: block; } }

/*# sourceMappingURL=planner.css.map */
