$main-color: #464641
$background-color: #eeeeee
$canvas-color: #ffffff
$font-color: #333333
//$menu-color: #F47F21
$menu-color: #337AB7
//$link-color: rgba(189, 98, 25, 1)
$link-color: #286090
$table-odd: #f5f5f5
$table-even: #eeeeee

body
  width: 100%
  background: $background-color
  margin: 0
  padding: 0

a
  text-decoration: none
  color: $link-color


#main
  background: $canvas-color
  border-style: solid
  border-width: 1px
  border-color: #aaaaaa
  //box-shadow: 0 0 5px #333


#wrapper
  width: 100%
  margin: 0 0 0 0


#explanation
  width: 95%
  margin: 0 auto

#header
  background: $main-color
  padding-left: 0
  padding-right: 0
//   h1
//     margin-left: 20px

#footer
  font-size: 10
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  width: 100%
  text-align: center
  color: #dddddd
  background: $main-color
  padding-top: 2px
  padding-bottom: 2px
  a
    text-decoration: none
    color: #ffffff


#userdescription
  width: 95%
  margin: 0 auto



html
  width: 100%

h1
  margin-left: 1em
  color: #ffffff


#nanginatables a
  //font-style: none
  text-decoration: none
  &:hover
    text-decoration: underline

.weekendstable
  padding-left: 10px
  padding-right: 10px
  width: 95%
  .tr
    width: 95%
    padding: auto 0
    display: block
    &:nth-child(even)
      background: $table-even
    &:nth-child(odd)
      background: $table-odd
    &:nth-child(1)
      color: #ffffff
      background: $main-color
      border-bottom-right-radius: 9px
      border-bottom-left-radius: 9px
      font-weight: bold
    .td
      vertical-align: top
      display: inline-block

table.user
  td
    vertical-align: top
    overflow: hidden
  tr
    border-bottom: 1px solid #aaa

.navbar-default
  border-color: $menu-color
  button
    background: #fff

#nav
  border-radius: 0
  background: $menu-color
  ul
    background: $menu-color
    li
      font-weight: bold
      color: #fff
      &:hover
        background-color: $main-color
      &:first-child
        margin-left: 0
      a
        color: #fff
        text-decoration: none
        font-weight: bold
        h3
          display: inline

.table
  font-size: 16px

#login
  background: $table-odd
  //border-radius: 10px
  //box-shadow: 0 0 2px #aaa

//input[type=submit]
//  padding: 4px 4px
//  background: #eee
//  border: 1px solid #aaa

.button
  padding: 4px 4px
  background: #eee
  border: 1px solid #aaa

//input[type=submit].x
//  border: 1px solid #333
//  font-weight: bold
//  display: inline
//  margin: 0
//  padding: 0
//  border-radius: 20px

form.x
  margin: 0
  padding: 0
  display: inline

input[type=checkbox]
  border: 1px solid #ddd
  background-color: #374879

//input[type=text], input[type=password]
//  border: 1px solid #ddd

.signup
  //font-size: 8pt
  margin-left: 10px

.err
  background-color: #ff739c
  border: 1px solid #880000
  padding: 3px
  margin: 0 20px

.succ
  background-color: #22BD3E
  border: 1px solid #888888
  padding: 3pxlink
  margin: 0 20px

#wecreator
  display: none

#descedit
  display: none

.btn-primary
  background-color: $menu-color
  border-color: $link-color
  &:hover
    background-color: $link-color
    border-color: $link-color

.commentheader
  background: #eee
  font-weight: bold
  padding: 5px
  border: 1px solid #ddd
  border-radius: 4px
  span
    float: right
    display: inline-block
    padding-right: 5px

#currentuser
  float: right
  margin-right: 10px
  margin-top: 10px
  color: #fff
  font-weight: bold

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)

  #nav ul li
    display: block
