{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'planner/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'planner/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'planner/planner.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'planner/jquery-ui/jquery-ui.min.css' %}" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div id="header" class="container">
      {%if loguser.is_authenticated %}
      <a href="{% url 'user' loguser.username %}" id="currentuser"><span class="glyphicon glyphicon-user"></span> {{loguser.first_name}} {{loguser.last_name}}</a>
      {% endif %}
      <h1>Nangina Wochenend-Planer</h1>
      <nav class="navbar navbar-default" id="nav" style="margin-bottom:0px;margin-left=0px;margin-right=0px;">
        <div class="container-fluid">
          <!-- <div class="navbar-header"> -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>Menü
          </button>
          <!-- </div> -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="{% url 'weekends' %}">Wochenenden</a></li>
              <li ><a href="{% url 'users' %}">Mitglieder</a></li>
              {% if loguser.is_authenticated %}
              <li><a href="{% url 'edituser' %}">Profil bearbeiten</a></li>
              <li><a href="{% url 'documents' %}">Downloads</a></li>
              <li><a href="{% url 'logout' %}">Abmelden</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="main" class="container">

      <div id="wrapper">
        <div class="row">
          {% if loguser.is_authenticated %}
          <div id="content" class="col-md-12 col-xs-12">
            {% else %}
            <div id="content" class="col-md-9 col-xs-12">
              {% endif %}
              {%if loguser.is_authenticated%}
              {% block content %}{% endblock %}
              {%else%}
              <h3> Willkommen</h3>
              <p> Willkommen beim Wochenend-Planer von Nangina. Wenn ihr euch anmeldet, seht ihr mehr.</p>
              {%endif%}
              {% block signup %}{%endblock%}


            </div>
            <div id="right-bar" class="col-md-3 col-xs-12">
              {% if not loguser.is_authenticated  %}
              <h3>Anmelden</h3>
              <form action="{%url "login"%}" method=post role="form">
                {% csrf_token %}
                <div class="login">
                  <div class="form-group">
                    <label for="nameinput">Name: </label><input placeholder="Name" class="form-control" id="nameinput" type="text" name="username"/><br/>
                  </div>
                  <div class="form-group">
                    <label for="pwinput">Passwort: </label><input placeholder="Passwort" class="form-control" id="pwinput" type="password" name="password"/><br/>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Log In"/><a class="signup" href="{%url 'reguser'%}" placeholder="Passwort">Registrieren</a>
                  </div>
              </form>
              {%if loginerr %}
              <p class="fadeout" style="color:red">Falscher Name oder falsches Passwort</p>
              {%endif%}
              {%if notverified%}
              <p class="fadeout" style="color:red">Du wurdest noch nicht freigeschaltet</p>
              {%endif%}

                </div>
                {%endif%}
            </div>
          </div>
        </div>

        <script src="{% static 'planner/jquery.min.js' %}"></script>
        <script src="{% static 'planner/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'planner/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'planner/fade.js' %}"></script>
  </body>
</html>
