{%extends "planner/base.html" %}
{% load staticfiles %}
{%block title%}Downloads{%endblock%}

{%block content%}

<h3>Downloads</h3>
<div class="row">
  <div class="col-sd-12 col-md-3">
    <a href="{% static 'planner/media/Sprechspiel1Aktuell.pdf' %}">Sprechspiel</a>
  </div>
  <div class="col-sd-12 col-md-9">
    Das Original-Sprechspiel, das alle kennen.
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-md-3">
    <a href="{% static 'planner/media/Sprechspiel2Fußgängerzone.pdf' %}">Fußgängerzone</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-md-3">
    <a href="{% static 'planner/media/Sprechspiel3Verantwortungskiste.pdf' %}">Verantwortungskiste</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-md-3">
    <a href="{% static 'planner/media/NanginaVorstellungstext.pdf' %}">Vorstellungstext</a>
  </div>
</div>
<br />

{%endblock %}
