{%extends "planner/base.html" %} 

{% block title %}Profil Bearbeiten: {{loguser.username}}{% endblock %} 

{% block content %} 
{% if opwerr %}
<div class="fadeout">
  <p class="bg-danger text-danger">Das alte Passwort ist inkorrekt.</p>
</div>
{% endif %} 

{% if npwerr %}
<div class="fadeout">
  <p class="bg-danger text-danger">Die neuen Passwörter stimmen nicht überein.</p>
</div>
{% endif %}

{% if success %}
<div class="fadeout">
  <p class="bg-success text-success">Die Profildaten wurden erfolgreich geändert.</p>
</div>
{% endif %}

{% if pwsuccess %}
<div class="fadeout">
  <p class="bg-success text-success">Das Passwort wurde erfolgreich geändert.</p>
</div>
{% endif %}


<div id="userdescription">
  <h3>Profil Bearbeiten</h3>
  <form action="{%url 'submitedit' %}" method="post">
    {% csrf_token %}
    <fieldset disabled>
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" class="form-control" value="{{loguser.username}}" />
      </div>
    </fieldset>

    <div class="form-group">
      <label for="firstname">Vorname:</label>
      <input id="firstname" class="form-control" type="text" name="firstname" value="{{loguser.first_name}}" />
    </div>
    <div class="form-group">
      <label for="lastname">Nachname:</label>
      <input id="lastname" class="form-control" type="text" name="lastname" value="{{loguser.last_name}}" />
    </div>
    <div class="form-group">
      <label for="email">E-Mail:</label>
      <input id="email" class="form-control" type="text" name="email" value="{{loguser.email}}" />
    </div>
    <div class="form-group">
      <label for="phone">Telefon:</label>
      <input id="phone" class="form-control" type="text" name="phone" value="{{loguser.telephone}}" />
    </div>

    <p>
    <label>Rollen:</label>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default {% if loguser.role1 %} active {% endif %}">	
        <input id="role1" type="checkbox" name="role1" autocomplete="off" {% if loguser.role1 %} checked {% endif %} />Rolle 1
      </label>

      <label class="btn btn-default {% if loguser.role2 %} active {% endif %}">
        <input id="role2" type="checkbox" name="role2" autocomplete="off" {% if loguser.role2 %} checked {% endif %} /> Rolle 2
      </label>

      <label class="btn btn-default {% if loguser.role3 %} active {% endif %}">
        <input id="role3"  type="checkbox" name="role3" autocomplete="off" {% if loguser.role3 %} checked {% endif %} /> Rolle 3
      </label>

      <label class="btn btn-default {% if loguser.speech %} active {% endif %}">
        <input id="speech"type="checkbox" name="speech" autocomplete="off" {% if loguser.speech %} checked {% endif %} /> Ansprache
      </label>
    </div>
    </p>

    <p>
    <input id="submituser" class="btn btn-primary" type="submit" value="Bestätigen" />
    </p>
  </form>
  <hr/>
  <h3>Passwort ändern</h3>
  <form action="{% url 'editpassword' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="opw">Altes Passwort</label>
      <input id="opw" class="form-control" type="password" name="opw" />
    </div>
    <div class="form-group">
      <label for="npw1">Neues Passwort</label>
      <input id="npw1" type="password" class="form-control" name="npw1" />
    </div>
    <div class="form-group">
      <label for="npw2">Passwort wiederholen</label>
      <input id="npw2" type="password" class="form-control" name="npw2" />
    </div>

    <input id="submitpw" class="btn btn-primary" type="submit" value="Bestätigen" disabled />
  </form>

</div>



{% endblock %}
