{%extends "planner/base.html" %}

{% block title %}Registrieren{% endblock %}

{% block signup %}

{% if pwerr %}
<div class="fadeout">
  <p class="bg-danger text-danger">Das Passwort stimmt nicht überein.</p>
</div>
{% endif %}

{% if unameerr %}
<div class="fadeout">
  <p class="bg-danger text-danger">Den Usernamen gibt es schon.</p>
</div>
{% endif %}


<div id="userdescription">
  <h3>Anmelden</h3>
  <form action="{%url 'submitreg' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="username">Username (nur ein Wort, keine Umlaute):</label> <input id="username" class="form-control" type="text" name="username" />
    </div>
    <div class="form-group">
      <label for="pw">Passwort:</label> <input id="pw" class="form-control" type="password" name="pw" />
    </div>
    <div class="form-group">
      <label for="pwconf">Passwort bestätigen:</label> <input id="pwconf" class="form-control" type="password" name="pwconf" />
    </div>
    <div class="form-group">
      <label for="firstname">Vorname:</label> <input id="firstname" type="text" class="form-control" name="firstname" />
    </div>
    <div class="form-group">
      <label for="lastname">Nachname:</label> <input id="lastname" type="text" class="form-control" name="lastname" />
    </div>
    <div class="form-group">
      <label for="email">E-Mail:</label> <input id="email" type="text" class="form-control" name="email" />
    </div>
    <div class="form-group">
      <label for="phone">Telefon:</label> <input id="phone" type="text" class="form-control" name="phone" />
    </div>

    <p>
    <label>Rollen:</label>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="checkbox" name="role1" autocomplete="off" /> Rolle 1
      </label>

      <label class="btn btn-default">
        <input type="checkbox" name="role2" autocomplete="off" /> Rolle 2
      </label>

      <label class="btn btn-default">
        <input type="checkbox" name="role3" autocomplete="off" /> Rolle 3
      </label>

      <label class="btn btn-default">
        <input type="checkbox" name="speech" autocomplete="off" /> Ansprache
      </label>
    </div>
    </p>

    <div class="form-group">
      <input id="submituser" class="btn btn-primary" type="submit" value="Registrieren" disabled>
    </div>
  </form>
</div>

{%endblock%}
