{%extends "planner/base.html" %}


{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<div id="userdescription">
  <h3>
    <span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}
  </h3>
  {%if user.is_leader%}<p>(leitet)</p>{%endif%}

  <div class="table">
    <hr/>
    <div class="row">
      <div class="col-md-3 col-xs-12"><b>E-Mail:</b> </div>
      <div class="col-md-9 col-xs-12">{{user.email}}</div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-3 col-xs-12"><b>Telefonnummer:</b> </div>
      <div class="col-md-9 col-xs-12">{{user.telephone}}</div>
    </div>
    {% if user.is_leader and user.leading %}
    <hr/>
    <div class="row">
      <div class="col-md-3 col-xs-12"><b>Leitungen:</b> </div>
      <div class="col-md-9 col-xs-12">
        {% for w in user.leading.all|dictsort:'startdate' %}
        <a href="{%url "weekend" w.id%}">{{ w.startdate |date:"d.m.Y"}} - {{ w.enddate |date:"d.m.Y"}}: {{w.location}}</a> <br/>
        {% endfor %}
      </div>
    </div>
    {%endif%}
    {% if participations %}
    <hr/>
    <div class="row">
      <div class="col-md-3 col-xs-12"><b>Teilnahmen:</b> </div>
      <div class="col-md-9 col-xs-12">
        {% for p in participations.all|dictsort:'startdate' %}
        <a href="{%url "weekend" p.id%}">{{ p.startdate |date:"d.m.Y"}} - {{ p.enddate |date:"d.m.Y"}}: {{p.location}}</a> <br/>
        {% endfor %}
      </div>
    </div>
    {%endif%}
    <hr/>
    <div class="row">
      <div class="col-md-3 col-xs-12"><b>Rollen:</b> </div>
      <div class="col-md-9 col-xs-12">
        {%if user.role1%} 1 {%endif%} {%if user.role2%} 2 {%endif%} {%if user.role3%} 3 {%endif%}
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-3 col-xs-12"><b>Ansprache:</b> </div>
      <div class="col-md-9 col-xs-12">
        {%if user.speech%} Ja {%else%} Nein {%endif%}
      </div>
    </div>
    <hr/>
  </div>



  {% if loguser.is_authenticated and loguser.is_admin and not user.is_admin %}
  {% if not user.is_leader %}
  <form action="{%url "promote" user.username%}" method="post">
    {%csrf_token%}
    <button class="btn btn-default" type="submit" value="Kann Leiten"><span class="glyphicon glyphicon-triangle-top"></span> Kann leiten</button>
  </form>
  {%else%}
  <form action="{%url "demote" user.username%}" method="post">
    {%csrf_token%}
    <button class="btn btn-default" type="submit" value="Kann nicht mehr leiten"><span class="glyphicon glyphicon-triangle-bottom"></span> Kann nicht mehr leiten</button>
  </form>		
  {%endif%}
  {%endif%}
</div>


{% endblock %}
