{%extends "planner/base.html" %}

{% block title %}Mitglieder{%endblock%}

{% block content %}

<h3>Mitglieder</h3>

<div id="nanginatables">
  {% if users %}
  <div class='table'>
    <div class='row'>
      <div class='col-sm-3 col-xs-12 hidden-xs'><b>Name</b></div>
      <div class='col-sm-4 col-xs-12 hidden-xs'><b>E-Mail</b></div>
      <div class='col-sm-2 col-xs-12 hidden-xs'><b>Telefon</b></div>
      <div class='col-sm-2 col-xs-12 hidden-xs'><b>Rollen</b></div>
      <div class='col-sm-1 col-xs-12 hidden-xs'><b>Leitet</b></div>
    </div>
    <hr/>
    {% 	for u in users %}
    <div class='row'>
      <div class='col-xs-12 visible-xs'><a href="{% url 'user' u.username %}"><h3><span class="glyphicon glyphicon-user"></span> {{u.first_name}} {{u.last_name}}</h3></a></div>
      <div class='col-sm-3 col-xs-12 hidden-xs'>
        <a href="{% url 'user' u.username %}"><span class="glyphicon glyphicon-user"></span> {{ u.first_name }} {{ u.last_name }}</a>
      </div>
      <div class="col-xs-12 visible-xs"><br/></div>
      <div class='col-xs-12 visible-xs'><b>E-Mail</b></div>
      <div class='col-sm-4 col-xs-12'>
        {{u.email}}
      </div>
      <div class="col-xs-12 visible-xs"><br/></div>
      <div class='col-xs-12 visible-xs'><b>Telefon</b></div>
      <div class='col-sm-2 col-xs-12'>
        {{ u.telephone }}
      </div>
      <div class="col-xs-12 visible-xs"><br/></div>
      <div class='col-xs-12 visible-xs'><b>Rollen</b></div>
      <div class='col-sm-2 col-xs-12'>
        {%if u.role1%} 1 {%endif%} {%if u.role2%} 2 {%endif%} {%if u.role3%} 3 {%endif%} {%if u.speech%} A {%endif%}
      </div>
      <div class="col-xs-12 visible-xs"><br/></div>
      <div class='col-xs-12 visible-xs'><b>Leitet</b></div>
      <div class='col-sm-1 col-xs-12'>
        {% if u.is_leader %} <span class="glyphicon glyphicon-ok"></span> {% endif %}
      </div>

    </div>
    <hr/>
    {% endfor %}
  </div>

  {% else %}
  <p>Keine Mitglieder</p>
  {% endif %}
</div>



{%if loguser.is_authenticated and loguser.is_admin%}
<h3>Neue Mitglieder</h3>
<div id="nanginatables">
  {% if newusers %}
  <div class='table-responsive'>
    <table class='table'>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      {% 	for u in newusers %}
      <tr>
        <td>
          <a href="{% url 'user' u.username %}">{{ u.first_name }} {{ u.last_name }}</a>
        </td>
        <td>
          <form action="{% url 'verifyuser' u.username %}"><input type="submit" class="btn btn-primary" value="Aufnehmen"/></form>
        </td>
        <td>
          <form action="{% url 'denyuser' u.username %}"><input type="submit" class="btn btn-danger" value="Ablehnen"/></form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% else %}
  <p>Keine neuen Mitglieder</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}
