{%extends "planner/base.html" %}

{% block title %}{{user.fullname}}{% endblock %}

{% block signup %}

<div id="wecreator">
  <form action="{%url 'submitweekend' %}" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>Ort:</td> <td><input type="text" name="location" /></td>
      </tr>
      <tr>
        <td>Datum:</td> <td><input type="date" name="date" /></td>
      </tr>
      <tr><td> </td><td></td></tr>
    </table>
  </form>
</div>

{%endblock%}
