{%extends "planner/base.html" %}
{% load tz %}

{% block title %}{{weekend.location}} ({{weekend.startdate | date:"d.m.Y" }}){% endblock %}

{% block content %}

{% if errors.full %}
<div class="fadeout">
  <p class="bg-danger text-danger">Das Wochenende ist ausgebucht</p>
</div>
{% endif %}

<div id="userdescription">
  <h3>
    <span class="glyphicon glyphicon-road"></span> {{ weekend.location}}
  </h3>
  <p>{{ weekend.startdate}} - {{ weekend.enddate }}</p>


  <!-- <div class="table-responsive"> -->
  <!-- <table class="table"> -->

  <!-- <tr>
    <th>Ansprechpartner: </th>
    <td>
    {% if weekend.leader %}<a href="{%url "user" weekend.leader.username%}">{{ weekend.leader.first_name }} {{ weekend.leader.last_name }}</a> <br/>
    ({{ weekend.leader.telephone}})
    {%endif%}
    </td>
    </tr>
    <tr>
    <th>Wer fährt mit? </th>
    <td>
    {% for p in weekend.participants.all %}
    <a href="{%url "user" p.username%}">{{ p.first_name }} {{ p.last_name }}</a> ({%if p.role1%} 1 {%endif%} {%if p.role2%} 2 {%endif%} {%if p.role3%} 3 {%endif%} {%if p.speech%} A {%endif%})

    {% if loguser.is_leader and loguser.pk == weekend.leader.pk and loguser.pk != p.pk or loguser.is_admin %}
    <form class="x" action="{% url "delp" weekend.id p.username%}">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="X" placeholder="entfernen" />
    </form>

    {%endif%}<br/>
    {% endfor %}
    </td>
    </tr> -->
    <div class="table">
      <hr/>
      {% if weekend.description %}
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>Beschreibung:</b> </div>
        <div class="col-md-9 col-xs-12">
          {{ weekend.description | linebreaks }}
        </div>
      </div>
      <hr/>
      {% endif %}
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>Leitung:</b> </div>
        <div class="col-md-9 col-xs-12">
          {% if weekend.leader %}<a href="{%url "user" weekend.leader.username%}">{{ weekend.leader.first_name }} {{ weekend.leader.last_name }}</a> <br/>
          ({{ weekend.leader.telephone}})
          {%endif%}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>Teilnehmende:</b> </div>
        <div class="col-md-9 col-xs-12">
          <table style="border-spacing: 10px">
            {% for p in weekend.participants.all|dictsort:'last_name' %}
            <tr>
              <td style="padding-bottom:5px">
                <a href="{%url "user" p.username %}">{{ p.first_name }} {{ p.last_name }}</a> ({%if p.role1%} 1 {%endif%} {%if p.role2%} 2 {%endif%} {%if p.role3%} 3 {%endif%} {%if p.speech%} A {%endif%})
              </td>

              {% if loguser.is_leader and loguser.pk == weekend.leader.pk and loguser.pk != p.pk or loguser.is_admin %}
              <td style="padding-bottom:5px; padding-left:5px">
                <form class="x" action="{% url "delp" weekend.id p.username%}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit" value="X" placeholder="entfernen" ><span class="glyphicon glyphicon-remove-circle"></span></button>
                </form>
              </td>
            </tr>
            {%endif%}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <!-- </table> -->
    <!-- </div> -->

    <hr/>

    {% if loguser.is_authenticated  %}
    {% if not loguser in weekend.participants.all %}
    <form style="display:inline-block" action="{% url "register" weekend.id %}">
      {% csrf_token %}
      <button class="btn btn-default" type="submit" value="Verbindlich Anmelden"><span class="glyphicon glyphicon-ok-circle"></span> Verbindlich anmelden</button>
    </form>
    {% endif %}
    {% if loguser.is_leader and not weekend.leader %}
    <form style="display:inline-block" action="{% url "registerleader" weekend.id %}">
      {% csrf_token %}
      <button class="btn btn-default" type="submit" value="Wochenende Leiten" ><span class="glyphicon glyphicon-hand-up"></span> Wochenende leiten</button>
    </form>
    {% elif loguser.is_admin %} <!-- and loguser == weekend.leader %} -->
    <form style="display:inline-block" action="{% url "unregisterleader" weekend.id %}">
      {% csrf_token %}
      <button class="btn btn-default" type="submit" value="Leitung freigeben" ><span class="glyphicon glyphicon-remove-circle"></span> Leitung freigeben</button>
    </form>
    {% endif %}
    {% endif %}


    {% if loguser.is_authenticated and loguser == weekend.leader or loguser.is_admin %}
    <button class="btn btn-default adduser" value="Mitglied hinzufügen" type="submit"><span class="glyphicon glyphicon-plus"></span> Mitglied hinzufügen</button>
    <div style="display:none" id="useradder">
      <form style="display:inline-block"  action="{% url 'addparticipant' weekend.pk %}" method="post">
        {% csrf_token %}
        <select name="userselect" class="btn btn-default">
          {%for u in users%}
          <option value="{{u.username}}">{{u.first_name}} {{u.last_name}}</option>
          {%endfor%}
        </select>
        <div class="btn-group">
          <input class="btn btn-primary" type="submit" value="Hinzufügen">
          <input type="button" class="btn btn-default canceladd" value="Abbrechen">
        </div>
      </form>
    </div>
    {% endif %}

    {%if loguser.is_authenticated and loguser.is_admin %}
    <button class="btn btn-default newwe" type="submit" value="Wochenende Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> Wochenende Bearbeiten</button>
    <div id="wecreator">
      <form action="{%url 'editweekend' weekend.id%}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="location">Ort:</label> <input id="location" class="form-control" type="text" name="location" value="{{weekend.location}}" />
          <label for="description">Beschreibung:</label> <textarea class="form-control" id="description" name="description" >{% if weekend.description %}{{weekend.description}}{%endif%}</textarea>
          <label for="startdate">Anfangsdatum:</label> <input class="form-control datepicker" type="text" name="startdate" id="startdate" value="{{weekend.startdate|date:"Y-m-d"}}"/>
          <label for="enddate">Enddatum:</label> <input class="form-control datepicker" type="text" name="enddate" id="enddate" value="{{weekend.enddate|date:"Y-m-d"}}"/>
          <br>
          <div class="btn-group">
            <input class="btn btn-primary" type="submit" value="Ändern" id="submitweekend"/>
            <input type="button" class="btn btn-default cancel" value="Abbrechen"/>
          </div>
          <!-- <p><input class="btn btn-default" type="submit" value="Ändern" />
            <span style="font-size: 8pt; text-align: right; cursor: pointer" class="cancel">Abbrechen</span></p> -->
        </div>
      </form>
      <p style="display:inline-block"><input type="button" class="btn btn-danger delw" value="Wochenende löschen" /></p>
      <div class="really" style="display:none">
        <p>Wirklich löschen?<p>
        <form style="display:inline-block" action="{% url "delw" weekend.id %}">
          <input type="submit" class="btn btn-danger" value="Ja"/>
          <input type="button" class="btn btn-default no" type="button" class="btn btn-danger" value="Nein"/>
        </form>
      </div>
    </div>

    {%endif%}

    {%if loguser.is_authenticated and not loguser.is_admin and loguser == weekend.leader %}
    <button class="btn btn-default descedit" type="submit" value="Beschreibung Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> Beschreibung Bearbeiten</button>
    <div id="descedit">
      <form action="{%url 'editdesc' weekend.id%}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="description">Beschreibung:</label> <textarea class="form-control" id="description" name="description" >{% if weekend.description %}{{weekend.description}}{%endif%}</textarea>
          <br>
          <div class="btn-group">
            <input class="btn btn-primary" type="submit" value="Ändern" id="submitdesc"/>
            <input type="button" class="btn btn-default cancel" value="Abbrechen"/>
          </div>
          <!-- <p><input class="btn btn-default" type="submit" value="Ändern" />
            <span style="font-size: 8pt; text-align: right; cursor: pointer" class="cancel">Abbrechen</span></p> -->
        </div>
      </form>
    </div>

    {%endif%}


    <hr/>
    {% get_current_timezone as TIME_ZONE %}
    <h4>Kommentare</h4>
    {% for c in weekend.comments.all %}
    <p class="commentheader"> {{c.date|timezone:TIME_ZONE }} {{c.user.first_name}} {{c.user.last_name}} {%if c.user.pk == loguser.pk or loguser.is_admin%}<span><a href="{% url 'deletecomment' weekend.id c.id %}"><span class="glyphicon glyphicon-remove"></span></a></span>{%endif%}</p>
    <p> {{c.text | linebreaks}} </p>
    {% endfor %}
    {% if loguser.is_authenticated or loguser.is_admin %}
    <form action="{% url 'submitcomment' weekend.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="commentarea">Kommentar hinzufügen</label>
        <p><textarea id="commentarea" class="form-control" placeholder="Kommentar" name="commenttext"></textarea></p>
        <p><input class="btn btn-primary" type="submit" rows="5" value="Senden" /></p>
      </div>
    </form>
    {%endif%}

</div>


{% endblock %}
