{%extends "planner/base.html" %}

{% block title %}Wochenenden{%endblock%}

{% block content %}

<h3>Wochenenden</h3>
{%if loguser.is_admin %}
<button type="button" class="btn btn-default newwe" value="Neues Wochenende erstellen"><span class="glyphicon glyphicon-plus"></span> Neues Wochenende erstellen</button>
<div id="wecreator" class="container-fill">
  <form role="form" action="{%url 'submitweekend' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="location">Ort:</label> <input class="form-control" id="location" type="text" name="location" placeholder="Ort" />
    </div>
    <div class="form-group">
      <label for="description">Beschreibung:</label> <textarea class="form-control" id="description" name="description" ></textarea>
    </div>
    <div class="form-group">
      <label for="startdate">Anfangsdatum:</label> <input class="form-control datepicker" type="text" name="startdate" id="startdate" />
    </div>
    <div class="form-group">
      <label for="enddate">Enddatum:</label> <input class="form-control datepicker" type="text" name="enddate" id="enddate" />
    </div>
    <div class="btn-group">
      <input id="submitweekend" class="btn btn-primary" type="submit" value="Eintragen" disabled/>
      <input type="button" class="btn btn-default cancel" value="Abbrechen" />
    </div>
    </table>
  </form>
</div>

{%endif%}


<div id="nanginatables">
  {% if currentweekends %}
  <div class='table'>
    <hr class="hidden-xs"/>
    <div class="row">
      <div class="col-sm-2 hidden-xs"><b>Datum (von-bis)</b></div>
      <div class="col-sm-4 hidden-xs"><b>Ort</b></div>
      <div class="col-sm-3 hidden-xs"><b>Leitung</b></div>
      <div class="col-sm-3 hidden-xs"><b>Teilnehmende</b></div>
    </div>
    {% 	for w in currentweekends %}
    <hr/>
    <div class="row">
      <div class="col-xs-12 visible-xs"><a href="{% url 'weekend' w.id %}"><h3><span class="glyphicon glyphicon-road"></span> {{w.location}}</h3></a><br/>{%if w.description%}{{ w.description | linebreaks }}{%endif%}<br/><br/></div>
      <div class="col-xs-12 visible-xs"><b>Datum</b></div>
      <div class="col-sm-2 col-xs-12">
        {{ w.startdate |date:"d.m.Y" }} <br class="hidden-xs"/> <span class="visible-xs-inline">-</span> {{ w.enddate |date:"d.m.Y" }}
      </div>
      <div class="col-xs-12 visible-xs"><br/></div>

      <!-- <div class="col-xs-12 visible-xs"><b>Ort</b></div> -->
      <div class="col-sm-4 hidden-xs">
        <a href="{% url 'weekend' w.id %}"><span class="glyphicon glyphicon-road"></span> {{ w.location }}</a><br/><br/>
        {%if w.description%}{{ w.description | linebreaks }}{%endif%}
      </div>

      <div class="col-xs-12 visible-xs"><b>Leitung</b></div>
      <div class="col-sm-3 col-xs-12">
        {%if w.leader%}<a href="{% url 'user' w.leader.username %}">{{ w.leader.first_name }} {{ w.leader.last_name }}</a>{%endif%}
      </div>
      <div class="col-xs-12 visible-xs"><br/></div>


      <div class="col-xs-12 visible-xs"><b>Teilnehmende</b></div>
      <div class="col-sm-3 col-xs-12">
        {% for u in w.participants.all|dictsort:'last_name' %}
        <a href="{% url 'user' u.username %}">{{ u.first_name }} {{ u.last_name }}</a> <br/>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <hr/>
  </div>


  {% else %}
  <p>Es sind keine aktuellen Wochenenden vorhanden.</p>
  {% endif %}
</div>

<button type="button" class="btn btn-default expandold" value="Alte Wochenenden anzeigen"><span class="glyphicon glyphicon-triangle-bottom"></span> Alte Wochenenden anzeigen</button>
<div id="oldweekends" style="display:none">
  <h3>Alte Wochenenden</h3>
  <div id="nanginatables">
    {% if oldweekends %}
    <div class='table'>
      <hr class="hidden-xs"/>
      <div class="row">
        <div class="col-sm-2 hidden-xs"><b>Datum (von-bis)</b></div>
        <div class="col-sm-4 hidden-xs"><b>Ort</b></div>
        <div class="col-sm-3 hidden-xs"><b>Leitung</b></div>
        <div class="col-sm-3 hidden-xs"><b>Teilnehmende</b></div>
      </div>
      {% 	for w in oldweekends %}
      <hr/>
      <div class="row">
        <div class="col-xs-12 visible-xs"><a href="{% url 'weekend' w.id %}"><h3><span class="glyphicon glyphicon-road"></span> {{w.location}}</h3></a><br/>{%if w.description%}{{ w.description | linebreaks }}{%endif%}<br/><br/></div>
        <div class="col-xs-12 visible-xs"><b>Datum</b></div>
        <div class="col-sm-2 col-xs-12">
          {{ w.startdate |date:"d.m.Y" }} <br class="hidden-xs"/> <span class="visible-xs-inline">-</span> {{ w.enddate |date:"d.m.Y" }}
        </div>
        <div class="col-xs-12 visible-xs"><br/></div>

        <!-- <div class="col-xs-12 visible-xs"><b>Ort</b></div> -->
        <div class="col-sm-4 hidden-xs">
          <a href="{% url 'weekend' w.id %}"><span class="glyphicon glyphicon-road"></span> {{ w.location }}</a><br/><br/>
          {%if w.description%}{{ w.description | linebreaks }}{%endif%}
        </div>

        <div class="col-xs-12 visible-xs"><b>Leitung</b></div>
        <div class="col-sm-3 col-xs-12">
          {%if w.leader%}<a href="{% url 'user' w.leader.username %}">{{ w.leader.first_name }} {{ w.leader.last_name }}</a>{%endif%}
        </div>
        <div class="col-xs-12 visible-xs"><br/></div>


        <div class="col-xs-12 visible-xs"><b>Teilnehmende</b></div>
        <div class="col-sm-3 col-xs-12">
          {% for u in w.participants.all|dictsort:'last_name' %}
          <a href="{% url 'user' u.username %}">{{ u.first_name }} {{ u.last_name }}</a> <br/>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <hr/>
    </div>
    {% else %}
    <p>Keine alten Wochenenden vorhanden.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
